     <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Login</ion-title>
        </ion-toolbar>
     </ion-header>

     <ion-content class="ion-padding">
        <ion-item>
           <ion-input [(ngModel)]= "username"placeholder="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
           <ion-input [(ngModel)]= "password" placeholder="password" type="password"></ion-input>
        </ion-item>
        <ion-button color = "dark" expand ="block" (click)="sendlog()">
           Login
        </ion-button>
     </ion-content>
