     <ion-content class="ion-padding ion-text-center">
      <div class="img">
        <img src="../../../assets/images/squirtle.png">
      </div>
        <ion-item lines="none">
           <ion-input [(ngModel)]= "username"placeholder="username" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
           <ion-input [(ngModel)]= "password" placeholder="password" type="password"></ion-input>
        </ion-item>
        <ion-button color = "dark" expand ="block" (click)="sendlog()">
           Login
        </ion-button>
     </ion-content>
