<ion-header>
  <ion-toolbar Color = "primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]= "formRegister">
          <ion-item>
            <ion-label position = "floating">Name</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </form>
        <form [formGroup]= "formRegister">
          <ion-item>
            <ion-label position = "floating">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
        </form>
        <form [formGroup]= "formRegister">
          <ion-item>
            <ion-label position = "floating">email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </form>
        <form [formGroup]= "formRegister">
          <ion-item>
            <ion-label position = "floating">Password</ion-label>
            <ion-input formControlName="passw" type="password"></ion-input>
          </ion-item>
        </form>
        <form [formGroup]= "formRegister">
          <ion-item>
            <ion-label position = "floating">confirm Password</ion-label>
            <ion-input formControlName="confirmPassw" type="password"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)= "sendReg()" >Ingresar</ion-button>
      </ion-card-content>
  </ion-card>
</ion-content>
